.quizContainer{

    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
    
   
}


.questionContainer{
    width: 700px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
 justify-content: center;
}




.options{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
  
}


 .options button{
    padding: 15px 50px;
    border: none;
    
    cursor: pointer;
    margin-bottom: 7px;
    flex-basis: calc(50% - 10px); 
    font-weight: 600;
    position: relative;
    
    
    
    


}



.btnspan{
    
    position: absolute;
    left: 1px;
    top: 2px;
    font-size: 18px;
    border-radius: 50px;
    background-color: #fc8c77;
    color: #fff;
    width: 25px;
    height: auto;
    padding: 10px;
    
}

.btn{
    background-color: #f8dfbd;

}
.btn:hover{

    background-color: #ddd;
}

.correct{
    background-color: green;
    color: #fff;
}


.wrong{
    background-color: red;
    color: #fff;
}

.score{

    display: flex;
    align-content: center;
    
    flex-direction: column;
    margin-top: 100px;
    color: #111;
    
}


         
.score button , .score a{
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 30px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 4px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    margin-top: 30px;
    
   
    
  }

  .score button:hover {
    background-position: right center; /* change the direction of the change here */
    color: gold;
    text-decoration: none;
  }
  .score a:hover {
    background-position: right center; /* change the direction of the change here */
    color: gold;
    text-decoration: none;
  }
 
.scoreContent{

    font-weight: 600;
    position: absolute;
    top: 100px;
    font-size: 24px;
    color: #111;;
    
}

.timeContent{
    font-weight: 600;
    position: absolute;
    top: 150px;
    font-size: 24px;
    color: #111;
    
}

.answerContent{

    background-color: #CE4E64;
    color: #000;

    width: 100%;
    height: 170px;
    font-size: 1.1rem;
    
    border-radius: 0.5rem;
    
}
.answerContent h2 {
    
    background-color:#0d0210;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
   
    
}
.answerContent h4{

    margin-top: 30px;
    text-align: center;
}
.backmenu{
    margin-top: 40px;
    background-color: #ec4b59;
    padding: 8px 14px;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #fff;
}
@media (max-width: 1281px){

    .btn:hover{

        background: #f8dfbd;
    }

    .options button{

        width: 45vw;
        
    }
}
@media (max-width: 1025px){

    .scoreContent{
        top: 20px;
        

        
    }
    
    .timeContent{
        top: 60px;
    }
    .btn:hover{

        background: #f8dfbd;
    }
}
@media (max-width: 913px){

 .scoreContent{
        top: 140px;
        font-size: 2rem;

    }
    .timeContent{
        top: 200px;
    }
    .timeContent p{
        font-size: 2rem;
    }
    .btn:hover{

        background: #f8dfbd;
    }

}
@media (max-width: 821px){

    .scoreContent{
        top: 80px;

    }
    .timeContent{
        top: 140px;
    }
    .btn:hover{

        background: #f8dfbd;
    }
}
@media (max-width: 750px) {
   .questionContainer{

    width: 90%;
   }
   .answerContent{

   

    width: 100%;
    height: 130px;
    
    border-radius: 0.5rem;
    
}
   .options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
  
}
.options button {

    flex-basis: auto;
    width: 100%;
    padding: 14px 120px;
    
    
}
.btnspan{
    
 
    padding: 9px;
    
}
.btn:hover{

    background: #f8dfbd;
}

  }
  

  @media (max-width: 550px){

.scoreContent{

    top: 65px;
    font-size: 18px;
}
.timeContent{
   
    top: 100px;
   
}
.answerContent{
width: 100%;
height: 140px;
        
}
.options button {

 flex-basis: auto;
 width: 100%;

width: 85vw;
padding: 10px 5px;

        }
        .btnspan{
    
 
            padding: 5px;
            
        }
        .btn:hover{

            background: #f8dfbd;
        }
     }
  
@media (max-width: 450px){

    .scoreContent{
        top: 25px;
    }

    .timeContent{
        top: 70px;
    }
    .timeContent p{
        font-size: 1.2rem;
    }
    
    
    .questionContainer h4{
        font-size: 0.8rem;
        margin-bottom: 10px;
    }
.btnspan{
    
 
    padding: 3px;
    
    
    
    
}
.btn:hover{

    background: #f8dfbd;
}
  }


  @media (max-width: 281px){

    .score{
        font-size: 12px;
        
    }
   .timeContent{
    top: 60px;
   }
    .timeContent p{

        font-size: 14px;
    }
    .options button{

        width: 85vw;
        padding: 10px 5px;
        
    }
    .btnspan{
    
 
        display: none;
        
    }
    .btn:hover{

        background: #f8dfbd;
    }

  }